.main-contact{
    margin-bottom: 50px;
    /* background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.contact-details img{
    width: 100%;
}

.send-message{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.send-message p{
    width: 500px;
    color: gray;

}
.send-message form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.send-message form input{
    width: 600px;
    padding: 15px 25px;
    border: 1px solid rgba(128, 128, 128, 0.346);
    margin-top: 20px;
}
.send-message form textarea{
    width: 600px;
    padding: 15px 25px;
    border: 1px solid rgba(128, 128, 128, 0.346);
    margin-top: 20px;
    height: 200px;
}
.send-message form button{
    background: red;
    color: white;
    padding: 10px 20px;
    width: 180px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
/* .contact-details{
   
    width: 500px;
}
.contact-details p{
    background-color: red;

} */
.contact-details{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.contact-details h1{
    font-size: 3rem;
}
.contact-details p{
    color: gray;
}
.address{
    border: 1px solid rgba(128, 128, 128, 0.346);
    width: 400px;
    border-radius: 5px;
}
.address-item1{
  
    display: flex;
    margin-left: 250px;
    align-items: center;
    justify-content: space-around;
    
}
.address-item1 div:nth-child(2){
    margin-left: 40px;
}
