.home{
    height: 90vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background: url(../SliderImages/slider1.jpg); */
    /* background-image: url(); */
    /* display: flex;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.slide{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.content{
    position: absolute;
    top: 23rem;
    left: 5rem;
    opacity: 0;
    width: 30%;
    padding: 3rem;
    background-color:rgba(0, 0, 0, 0.636);
    animation: slide-up 1s ease .5s;
    animation-fill-mode: forwards;
    /* visibility: hidden; */
}
@keyframes slide-up{
    0%{
        visibility: visible;
        top: 23rem;
    }
    100%{
        visibility: visible;
        top: 17rem;
    }
}
@media screens and (max-width: 600px) {
    .content{
        width: 70%;
    }
}
.content > *{
    color: white;
    margin-bottom: 1rem;
}
.current{
    opacity: 1;
    transform: translateX(0);
}
.current .content{
    opacity: 1;
}
.arrow{
    background: transparent;
    color: #fff;
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    z-index: 999;
    cursor: pointer;
}
.arrow:hover{
    background-color: #fff;
    color: #777;
}
.next{
    right: 1.5rem;
}
.prev{
    left: 1.5rem;
}
hr{
    height: 2px;
    width: 40%;
    margin-left: 0;
    background-color: #fff;
}
@media  screen and (min-width: 600px) {
    .home img {
        width: 100%;
        height: 100%;
    }
    .home img {
        
        height: 100%;
    }
}
/* .home h1{
   margin: 0; 
    color: #F94892;
    text-shadow: 0 1px 5px #000;
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: 600;
    
} */
.home  p {
    
     color: #fff;
     font-weight: 500;
}
.home h3{
    
    color: #fff;
    font-size: 1.5rem;
}
.home button{
    background-color: #F94892;
    padding: 12px 10px;
    width: 200px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3px;
}
.home button:hover{
    background-color:#F94892 ;
}