
.sign-in nav{
    background-color: rgba(128, 128, 128, 0.219);
    font-size: 1.2rem;
    padding: 3px 10px;
    width: 100%;
}
.sign-content{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login{

    background-color: rgba(128, 128, 128, 0.131);
    padding: 25px 80px;
}
.login form input{
   padding: 13px 15px;
   margin-top: 8px;
   width: 250px;
   border: none;
   outline: none;
}
.login form button{
    padding: 10px 20px;
   width: 290px;
   background-color: red;
   color: white;
   border: none;
   outline: none;
}
.forgot-password{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.register{
    border-left: 1px solid gray;
    margin-right: 250px;
    padding-left: 100px;
}
.register form input:not(#check){
    margin-top: 8px;
    border-radius: 5px;
    padding: 13px 15px;
    width: 300px;
   background: none;
   border: 1px solid rgba(128, 128, 128, 0.244);
}
#ckeck{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.register form .register-info{
    color: gray;
}
.register form button{
    padding: 10px 20px;
    width: 300px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
}

