

.trending h1{
    border-left: 4px solid #F94892;
    padding-left: 10px;
    height: 40px;
   font-size: 2rem;
   margin-left: 180px;
   width: 400px;
   font-weight: 700;
   margin-left: 90px;
}
.trending h1 span{
   font-size: 2rem;
   font-weight: 200;
   
}.trending hr{
    width: 88%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.trending-items1 img{
    width: 250px;
    height: 200px;
}
.trending-items2 img{
    width: 200px;
    height: 200px;
}
.trending-items3 img{
    width: 200px;
    height: 200px;
}
.trending-items4 img{
   width: 250px;
   height: 200px;
}
.trending-items{
    padding: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.trending-items1{
    margin-right: 25px;
    border: 1px solid gray;
    text-align: center;
}
.trending-items2{
    margin-right: 25px;
    border: 1px solid gray;
    text-align: center;
    width: 250px;
}

.trending-items1 p span{
    color: #F94892;
    font-weight: 500;
}
.trending-items2 p span{
    color: #F94892;
    font-weight: 500;
}
.trending-items2 p span{
    color: #F94892;
    font-weight: 500;
}
.trending-items3 p span{
    color: #F94892;
    font-weight: 500;
}
.trending-items4 p span{
    color: #F94892;
    font-weight: 500;
}
.trending-items2 button{
    border: none;
    position: absolute;
    top: 248%;
    left: 36%;
    background-color: rgba(255, 0, 0, 0.808);
    padding: 6px 15px;
    border-radius: 5px;
    color: #fff;
}
.trending-items3{
    margin-right: 25px;
    border: 1px solid gray;
    text-align: center;
    width: 250px;
}
.trending-items3 button{
    border: none;
    position: absolute;
    top: 248%;
    left: 53%;
    background-color: rgba(255, 0, 0, 0.836);
    padding: 6px 15px;
    border-radius: 5px;
    color: #fff;
}
.trending-items4{
    text-align: center;
    border: 1px solid gray;
}
.trending-bg-img{
    background-image: url(../images/img14.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: left;
    padding-left: 300px;
    padding-top: 30px;
    /* padding: 10px; */

}
.trending-bg-img p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    /* text-shadow: 0px 2px 4px rgba(0,0,0,0.8); */
}
.trending-bg-img h3{
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-shadow: 0px 2px 4px rgba(0,0,0,0.8); */
    /* color: #fff; */
    font-weight: 400;
}
.bg-btn{
    background-color: #F94892;
    padding: 12px 10px;
    width: 200px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
}